html {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    position: relative;
    height: 100%;
  }
  
  body {
    margin: 0;
    height: 100%;
    overflow: hidden;
  }
  
  #myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    width: fit-content;
    height: fit-content;
    z-index: -1;
    margin-top: 0px;
  }
  